.input {
    position: fixed;
    left: 220px;
    border: 2px solid white ;
    width: 190px;
    height: 25px;
    }
    
    input.hover{
      border: 7px solid rgb(0, 0, 107);
      cursor: pointer;
    }
    
    
    .login{
    position: fixed;
    top: 250px;
    left: 150px;
    }
    
    .send{
    position: fixed;
    top: 450px;
    left: 263px;
    border: 2px solid white ;
    font-size:smaller;
    }